http://explorer.testnet.tfb.threefold.tech {
    redir https://explorer.testnet.tfb.threefold.tech
}

https://explorer.testnet.tfb.threefold.tech {
    root ../public

    header / {
	    Access-Control-Allow-Origin  *
        Access-Control-Allow-Methods  *
        Access-Control-Allow-Headers  *
    }

    proxy /explorer localhost:21110 {
        header_upstream User-Agent Rivine-Agent
    }

    proxy /transactionpool/transactions localhost:21110 {
        header_upstream User-Agent Rivine-Agent
    }

    log stdout
    tls support@threefold.tech
}
